@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

#root {
  background: #efefef;
}
